.infosis-fieldset {
  border: 1px solid #c2c6cc !important;
  border-radius: 15px !important;
}

.infosis-fieldset legend {
  font-weight: normal;
  color: #4b5563 !important;
  padding: 0 0.8rem !important;
  border: unset !important;
}

.p-fieldset .p-fieldset-content {
  padding: 0.8rem;
}