/* Estilos base do painel */
.infosis-panel {
  padding-bottom: 5px;
}

/* Estilos do painel quando está em modo tela cheia */
.infosis-panel.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

/* Estilos do cabeçalho dentro do painel */
.infosis-panel .p-panel-header {
  border-radius: 10px 10px 0 0;
}

/* Estilos do cabeçalho dentro do painel quando está em modo tela cheia */
.infosis-panel.fullscreen .p-panel-header {
  border-radius: sem definição;
}

/* Estilos dos ícones dentro do cabeçalho do painel */
.infosis-panel .p-panel-header-icon {
  color: black;
  background-color: white;
}

/* Estilos do conteúdo dentro do painel */
.infosis-panel .p-panel-content {
  border-radius: 0 0 10px 10px;
}

/* Estilos do conteúdo dentro do painel quando está em modo tela cheia */
.infosis-panel.fullscreen .p-panel-content {
  height: 100vh;
}

/* Remove a animação de transição quando expande o conteúdo dentro do painel */
.infosis-panel .p-toggleable-content {
  transition: none !important;
}
