.infosis-panel.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.infosis-panel .p-panel-header {
  background-color: #2897ca;
  color: white;
  border-radius: 10px 10px 0 0;
}


.infosis-panel .p-panel-header-icon {
  color: black;
  background-color: white;
}

.infosis-panel .p-panel-content {
  /* border: 1px solid #c2c6cc; */
  border-radius: 0 0 10px 10px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
}

.infosis-panel.fullscreen .p-panel-content {
  height: 100vh;
}

.fullscreen .infosis-panel.p-panel-header {
  background-color: #2897ca;
  color: white;
  border-radius: unset;
}

.fullscreen .infosis-panel.p-panel-content {
  height: 100vh;
}

.infosis-panel .p-toggleable-content {
  transition: none !important;
}