/* .operacao-solicitacao button {
    color: #000;
    background: #2897ca;
    border-bottom: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    border-left: none;
}

.operacao-solicitacao .p-button:not(:disabled):active {
    background: #ffffff;
    border-color: #4f46e5;
}

.operacao-solicitacao .p-button:not(:disabled):hover {
    background: #ffffff;
    border-color: #4f46e5;
} */

/* 
.operacao-solicitacao:focus-within {
    outline: 0 none;
    outline-offset: 0;
    border-color: #6366f1;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-right: 1px solid #6366f1;
    border-right: none;
    border-radius: 6px;
} */

/* .operacao-solicitacao.p-inputwrapper-focus button {
    border: 1px solid #6366f1;
    border-left: none;
}

.operacao-solicitacao.p-inputwrapper-focus input {
    border: 1px solid #6366f1;
    border-right: none;
} */

/* .operacao-solicitacao:enabled:hover {
    border-color: #6366f1;
}

.operacao-solicitacao:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: #6366f1;
}

.operacao-solicitacao .p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
    outline-color: transparent;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.operacao-solicitacao .p-inputtext:enabled:hover {
    border-color: #6366f1;
}

.operacao-solicitacao .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: #6366f1;
} */
