.infosis-validation-modal-btn-fechar {
    background-color: transparent;
    color: #64748b;
    border: 1px solid;
    height: 40px;
}

.infosis-validation-modal-footer button .p-button-label {
    font-weight: 400;
}

.infosis-error-col-header {
    color: #7e7979;
    font-weight: bold;
    background-color: transparent;
}

.infosis-error-col-body {
    color: #4b5563;
    background-color: transparent;
}

.infosis-validation-modal {
    max-width: 576px;
}